@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply m-1
	}
	td {
		@apply border-2 border-gray-300
	}

	button {
		@apply bg-gray-200 rounded cursor-pointer hover:accent-red-50
	}
	
}
